In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn import model_selection

In [2]:
#import data

df = pd.read_csv('../dataset/Auto.csv')
df['horsepower'] =df['horsepower'].replace('?',0)
df['horsepower'].astype(int)
y = df['displacement']

del df['displacement']
del df['name']
df.head()

    mpg  cylinders horsepower  weight  acceleration  year  origin
0  18.0          8        130    3504          12.0    70       1
1  15.0          8        165    3693          11.5    70       1
2  18.0          8        150    3436          11.0    70       1
3  16.0          8        150    3433          12.0    70       1
4  17.0          8        140    3449          10.5    70       1

In [7]:
clf = linear_model.LinearRegression()
def sklearn_cv(X_train,y_train,clf):
    # Use cross_val_score to automatically split, fit, and score.
    scores = model_selection.cross_val_score(clf,X_train, y_train, cv=10)
    print(scores)
    print('average score: {}'.format(scores.mean()))

In [8]:
sklearn_cv(df,y,clf)

[0.88589643 0.97364868 0.96532746 0.93993299 0.95183119 0.95140701
 0.92172436 0.95508016 0.56077245 0.84039143]
average score: 0.8946012154713765